<div>
    <p class="mb-2 -mt-10 text-center">
        <a href="https://parsec.app/" target="_blank" class="cursor-pointer">Parsec<i-feather
            name="external-link" style="height: 20px; width: 20px;" class="text-white ml-1 mr-1 -mb-1"
          ></i-feather>
        </a> is the recommended client for connecting to your airgpu and playing your games. Please<br/> only connect with Microsoft Remote Desktop once to login to Parsec on your airgpu.
    </p>
    <p class="text-center">
        <a href="https://help.airgpu.com/getting-started/connect-to-your-machine" target="_blank" class="cursor-pointer">Learn more<i-feather
            name="external-link" style="height: 20px; width: 20px;" class="text-white ml-1 mr-1 -mb-1"
          ></i-feather>
        </a>
    </p>
    <div class="flex items-center justify-center mt-10">
        <button class="
            text-white
            bg-indigo-500
            border-0
            py-2
            px-6
            focus:outline-none
            hover:bg-indigo-600
            rounded
            font-semibold
            " (click)="close()">
            Continue
        </button>
    </div>
</div>