<div *ngIf="error" class="mb-10">
    <app-alert (click)="error = null">{{ error }}</app-alert>
</div>

<div *ngIf="machines$ | async as machines; else loading" class="flex w-full justify-center">
    <div class="w-full sm:w-3/4 md:w-1/2 xl:w-1/2 2xl:w-1/3">
        <div class="text-white mb-10 flex justify-end items-center">
            <div *ngIf="credit !== null" class="mr-3 text-gray-400">Credit: ${{ (credit || 0) | number:'1.2-2' }}</div>
            <button class="
          flex
          items-center
          font-small
          justify-center
          bg-indigo-500
          hover:bg-indigo-600
          text-white
          border-0
          py-1
          px-2
          focus:outline-none
          rounded
        " routerLink="/account/credit">
        Add credit
      </button>
        </div>
        <div class="mb-16" *ngFor="let machine of machines">
            <app-machine-info [machine]="machine" [credit]="credit" [machinePrices]="machinePrices" (update)="updateMachines($event)"></app-machine-info>
        </div>
        <div *ngIf="(machines.length < maxMachines && allowMultipleMachines) || machines.length === 0" class="flex w-100 justify-center">
            <button class="
      bg-gray-800
      hover:bg-indigo-600
      font-small
      text-gray-200
      hover:text-white
      border-0
      py-2
      px-4
      focus:outline-none
      rounded
      " routerLink="/machines/create">
        + Create another machine
      </button>
        </div>
    </div>
</div>



<ng-template #loading>
    <div class="w-full flex justify-center">
        <app-spinner class="mr-2"></app-spinner>Loading
    </div>
</ng-template>